* {
    margin: 0;
    font-family: poppins;
}

body {
    background-color: #44444E;
}

/* NAVBAR */
.navbar {
    background-color: #132440;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0D9D9;
}

/* SCOREBOARD */
.scoreboard {
    color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.score {
    display: flex;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #393E46;
    border-radius: 20px;
    font-size: 1.2rem;
}

/* CHOICES */
.circles {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.options {
    width: 90%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: aliceblue;
}

.option {
    height: 140px;
    width: 140px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    text-align: center;
}

.option:hover {
    box-shadow: 0px 0px 20px rgb(227, 227, 227);
}

#Rock {
    background-color: #EA2264;
}
#Paper {
    background-color: #640D5F;
}
#Scissors {
    background-color: #0F828C;
}

/* MESSAGE BOX */
.msgcont {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.msg-container {
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    background-color: #393E46;
    border-radius: 20px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.4rem;
    transition: 0.2s;
}

/* ----------------------- */
/* RESPONSIVE DESIGN BELOW */
/* ----------------------- */
@media (max-width: 600px) {

    .options {
        gap: 1rem;
        justify-content: center;
    }

    .option {
        width: 100px;
        height: 100px;
        font-size: 0.9rem;
    }

    .msg-container {
        font-size: 1.2rem;
    }

    .score {
        font-size: 1rem;
    }
}
