*{
    margin: 0px;
    font-family: poppins;
}
body{
    background-color: #44444E;

}
.navbar{
    background-color: #132440;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0D9D9;
}   
.options{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12.5px;
    color: aliceblue;
    
}
.option{
    transition: 0.2s ease;
    height: 15rem;
    width: 15rem;
}
.option:hover{
      box-shadow: 0px 0px 30px rgb(227, 227, 227);
      position: inherit;
}
#Rock{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EA2264;
    border-radius: 25%;
}
#Paper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #640D5F;
    border-radius: 25%;
}
#Scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F828C;
    border-radius: 25%;
}
.circles{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreboard{
    color: whitesmoke;
    margin-left: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100px;
}
.score{
    display: flex;
    width: 50%;
    height: 60px;
    margin-top: 50px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #393E46;
    border-radius: 20px;
    
}
.msg-container{
    transition: 0.2s;
    display: flex;
    width: 50%;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #393E46;
    border-radius: 20px;
    margin-left: 25%;
    color: whitesmoke;
    font-size: 20px;
}
